[Unit]
Description=Service to check load CPU
After=network.target

[Service]
ExecStart=/bin/bash /home/ubuntu/scripts/daemonLoadCPU

[Install]
WantedBy=default.target
