[Unit]
Description=Service to check logs

[Service]
ExecStart=/bin/bash /home/ubuntu/scripts/daemonLogs
#ExecReload=/bin/bash /etc/nginx/sites-enabled/daemonLogs
#Type=notify
Restart=always

[Install]
WantedBy=default.target
